// font-style
$headingFont: 'Karla', sans-serif;
$bodyFont: 'Montserrat', sans-serif;

// colors
$primaryFontColor: #888888;
$styleColor: #FFE8DF;
$backgroundColor: #F0F0F0;


// shades
// $floorL:
// $floorM:
// $floorD:

// $furnitureL:
// $furnitureM:
// $furnitureD:
