// font-style
$headingFont: 'Karla', sans-serif;
$bodyFont: 'Montserrat', sans-serif;

// colors
$primaryFontColor: #888888;
$secondaryStyleColor: #70ADB5;
$styleColor: #FFE8DF;
$backgroundColor: #F0F0F0;
